//- Format:
    title = article title
    description = article description
    content = article content
    date = date/time
    place = location
    docks = places to dock
    org = organizers of event

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="/resources/news.css", rel="stylesheet")
        link(rel="icon", href="/resources/icon.png")
        title #{title} | Squadron Events - Landstrider Legion
        meta(name="description", content=description)
    body
        noscript 
            h1 This site requires JavaScript!
            h2 Please make sure you're using a modern browser with JavaScript enabled.
        header(class="header")
            h1 #{title}
        div(class="background")
            section(class="maincontent")
                div(class="content")
                    h2#details Details 
                    p. 
                        <b>When:</b> #{date}<br>
                        <b>Where:</b> #{place}<br>
                        <b>Carrier(s)/station(s)</b> #{docks}<br>
                        <b>Organizer(s): </b> #{org}
                    h2#info Information
                    !{content}

        script(src="/resources/navbar.js")